<%= form_with(model: feedback_form, local: true) do |form| %>
    <% if feedback_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(feedback_form.errors.count, "error") %> prohibited this feedback_form from being saved:</h2>

          <ul>
            <% feedback_form.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :age %>
      <%= form.number_field :age, id: :feedback_form_age, required: true, min: 17, max: 65 %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :feedback_form_name, required: true, pattern: '^[A-Z][a-z]*\s[A-Z][a-z]*$', title: 'Two space separated upcase words please' %>
    </div>
    <div class="field">
      <%= form.label :appointment_date do %>
          Appointment date (format: dd.mm.yyyy)
      <% end %>
      <%= form.date_field :appointment_date, id: :feedback_form_appointment_date, required: true %>
    </div>

    <div class="field">
      <%= form.label :attachment do %>
          Attachment
          <%= ': ' + form.object.file_name if form.object.file_name %>
      <% end %>
      <%= form.file_field :attachment, id: :feedback_form_attachment %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
