<p id="notice"><%= notice %></p>

<h1>Feedback Forms</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Appointment date</th>
    <th>Attachment</th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @feedback_forms.each do |feedback_form| %>
      <tr>
        <td><%= feedback_form.name %></td>
        <td><%= feedback_form.age %></td>
        <td><%= feedback_form.appointment_date %></td>
        <td><%= link_to feedback_form.file_name, feedback_form.attachment.url, target: :_blank if feedback_form.file_name %></td>
        <td><%= link_to 'Show', feedback_form %></td>
        <td><%= link_to 'Edit', edit_feedback_form_path(feedback_form) %></td>
        <td><%= link_to 'Destroy', feedback_form, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback Form', new_feedback_form_path %>
